    body{
        background-color: #2a9d8f;
    }
    p strong{
       
    }

    h1{
        color: white;
        font-size: 35px;
    }
    h2{
        color: white;
        font-size: 25px;
    }

    .descricao{
        font-family: sans-serif;
        font-style: italic;
        margin-left: 2%;
        text-align: center;
        
    }

    .minhafoto1{
        width: 300px;
        height: 400px;
        float: center;
        margin-left: 25%;
        padding: 10px;
        background-color: rgb(221, 5, 5);
    }
    .minhafoto2{
        width: 300px;
        height: 400px;
        float: center;
        margin-right: 5%;
        padding: 10px;
        background-color: red;
        
    }
    .caixaimagem{
        height: 400px;
    }

    li{
        list-style: none;
        
    }

    .nome{
        text-align: center;
    }

    .habilidades{
        text-align: center;
        margin-top: 150px;
        margin-right: 2%;
    }

    .redes{
      
        text-align: center;
        margin-left: 3%;
        margin-right: 2%;
        

    }

    #banda{
        margin-right: 3%;
        
    }
    #linkedin{
        margin-right: 3%;
    }
    #github{
        margin-right: 3%;
    }
    #insta{
        margin-right: 3%;
    }
