    body{
        background-color: #2a9d8f;
    }
    p strong{
        color: red;
    }

    h1{
        color: white;
        font-size: 35px;
    }
    h2{
        color: white;
        font-size: 25px;
    }
